<ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'">

  <ngx-datatable-column name="Year" [width]="20">
    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
      <span>{{value}}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="title" [width]="500">
    <ng-template let-column="column" ngx-datatable-header-template>
      Title
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span><a routerLink="/managePaper">{{ value }}</a></span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="category" [width]="500">
    <ng-template let-column="column" ngx-datatable-header-template>
      Category
    </ng-template>
    <ng-template let-value="value" ngx-datatable-cell-template>
      <span>{{ value }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [sortable]="false" [width]="50">
    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
      Actions
    </ng-template>
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="openEditPaperModel(row)"><i class="fa fa-pencil"></i></button>
        <button type="button" class="btn btn-default" (click)="openConfirmDeleteModal(confirm, row)">
          <i class="fa fa-trash-o"></i></button>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<ng-template #confirm>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" (click)="confirmDelete()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()" >No</button>
  </div>
</ng-template>
