/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.header-control {
  margin-right: 15px;
  text-decoration: none;
  color: #7386D5;
  cursor: pointer;
}

input, button {
  outline: none !important;
}

.ngx-datatable.material {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.error, input.ng-touched.ng-invalid {
  border: solid 1px #ff0000 !important;
}

/* ---------------------------------------------------
    WRAPPER STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.page-content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
  background-color: #f5f5f5;
}

/*
    SIDE BAR STYLE
*/
app-side-bar {
  background-color: #7386D5;
}
